
@mixin ui-box {
  background-color: $ui-box-background-color;
  border: 1px solid $primary-color-dark;
  box-shadow: $ui-shadow-color 0 12px 15px 0;
  min-height: 50px;

  hr {
    border: 0;
    border-top: 1px solid $divider-color;
    margin: 0;
  }
}
