.about-container {
    background-color: #FFF;
    -moz-box-shadow: rgba(0, 0, 0, 0.24) 0 12px 15px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0 12px 15px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0 12px 15px 0;
    border: 1px solid $primary-color-dark;
    /*padding: 14px;*/
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 50px;

    hr {
        border: 0;
        border-top: 1px solid $divider-color;
        margin: 0px;
    }

    ul {
        list-style-type: none;
    }

}

.about-image {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  display: block;

  margin: 0px auto 10px auto;
  border: 1px solid #CCC;

  -moz-box-shadow: rgba(0, 0, 0, 0.24) 0 5px 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0 5px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0 5px 5px 0;

  /* Make sure elements don't run outside containers (great for images in columns) */
  /*.u-max-full-width {*/
      max-width: 60%;
      box-sizing: border-box;
  /*}*/
}

.about-name {
  text-align: center;
  /*font-size: 2em;*/
  /*font-weight: 600;*/
  margin-bottom: 40px;
}

.about-titles-title {
  text-align: center;
  font-style: italic;
  /*font-weight: 300;*/
  margin-bottom: 10px;
}

.about-contact-entry {
  vertical-align: middle;
  margin-bottom: 20px;

  span {
      color: $secondary-text-color;
      min-width: 30px;
  }
}

.about-contact-entry-text {
  margin-left: 20px;
  color: #2C3E50;
}

.about-header {
    padding: 10px;
    background-color: $primary-color;
    color: $primary-color-text;
}

#about-contact-container {
    padding: 10px;
}
