/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);*/


$primary-color-dark:   #388E3C;
$primary-color:        #4CAF50;
$primary-color-light:  #C8E6C9;
$primary-color-text:   #FFFFFF;
$accent-color:         #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

@import 'about';
@import 'project';


body {
    background-color: #374046   ;
    color: $primary-text-color;
}

footer {
    text-align: center;

    margin-top: 100px;

    color: #888;

    p {
        margin-bottom: 5px;
    }

    a {
        color: #DDD;
        text-decoration: none;
    }
}
